<div class="banner">
  <div class="heading">
    <div class="header"><h1>Onsen is life</h1></div>
    <div class="button">
      <%= link_to new_onsen_path(@onsen) do %>
      <h4>Add new onsen</h4>
      <% end %>
    </div>
  </div>
</div>

<div class="card-container">
  <% @onsens.each do |onsen| %>
    <%= link_to onsen_path(onsen) do %>
      <div class="card">
        <div class="name">
          <%= onsen.name %>
        </div>
        <div class="photo-with-description">
          <%= cl_image_tag onsen.photo, crop: :fill %>
          <div class="description">
            <% if onsen.description? %>
              <p><%= onsen.description.truncate_words(25) %></p>
            <% end %>
          </div>
        </div>
        <div class="bottom-info">
          <div class="address">
            <%= onsen.address %>
          </div>
          <div class="rating">
            <% if onsen.rating? %>
              <% onsen.rating.times do |i| %>
                <i class="fas fa-star"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
